body {
  font-family: Arial, Helvetica, sans-serif;
}

#sample {
  font-size: 12px;
  background-color: lightgray;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

a {
  padding: 0.1rem;
}
